# Travis CI configuration
language: php
php:
  - '7.0'
  - '7.1'
  - hhvm
  - nightly
before_script:
  - composer install --prefer-source --no-interaction
  - composer dump-autoload
script:
  - vendor/bin/phpunit